<div class= "container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Best Message Board</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/" class='active'>Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <body>
    {{outlet}}
  </body>
  <hr>
  <footer>
  </footer>
</div>
