<h1>Contact Us</h1>
<h3>Leave A Message</h3>
<form>
  <div class="form-group">
    <label for="">User</label><br>
    <input type="text" name="" value="">
  </div>
  <div class="form-group">
    <label for="">Message</label><br>
    <textarea name="name" rows="8" cols="50"></textarea>
  </div>
  <button type="button" name="button">Submit</button>
</form>
<h3>Social Media</h3>
<a href="#">LinkedIn</a><br>
<a href="#">Twitter</a><br>
<a href="#">These links are not live.</a>
